.container{
    max-width: 1000px;
    height: 630px; 
    margin: auto;
    background-color: cornsilk;
}

img{ 
    max-width:100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    border-bottom: 1px solid #c4c4c4;
    float: left;
    overflow: hidden;
    width: 350px; border-right:1px solid #c4c4c4;
}

.inbox_msg {
    border: 2px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {
    float: left; 
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: left;
    width: 60%; 
    padding:0;
}
.headind_srch{ 
    padding: 10px 29px 10px 20px; 
    overflow: hidden; 
    border-bottom:1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input{ 
    border:1px solid #cdcdcd; 
    border-width:0 0 1px 0; 
    width: 80%; 
    padding: 2px 4px 6px 6px; 
    background: none;
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.chat_ib h5{ 
    font-size:15px; 
    color:#464646; 
    margin:0 0 8px 0;
}

.chat_ib h5 span{ 
    float:right;
}

.chat_ib p{ 
    font-size:14px; 
    color:#989898; 
    margin:auto;
}

.chat_img {
    float: left;
    width: 11%;
}
.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people{ 
    overflow:hidden; 
    clear:both;
}
.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 15px 5px 10px;
}

.inbox_chat { 
    width: 350px;
    height: 500px;
    background-color: cornsilk;
    overflow-y: scroll;
}

.active_chat{ 
    background: #FFCC6E;
}

.mesgs {
    width: 600px;
    height: 500px;
    overflow-y: auto;
    padding: 0px 15px 0 25px;
    background-color: cornsilk;
}

#room_title {
    width: 100%;
    height: 40px;
    background-color: cornsilk;
    border-bottom:2px solid rgba(194, 141, 43, 0.795);
}

#room_name {
    bottom: 10px;
    text-align: center;
    color: coral;
    font-size: 20px;
}

.Media_l{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    width: 320px;
    padding-bottom: 10px;
    float: left;
}

.Media_r{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    width: 320px;
    padding-bottom: 10px;
    float: right;
}

#msg_list{
    /*background: #ebebeb none repeat scroll 0 0;*/
    display: inline-block;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
    word-wrap: break-word; 
    overflow: hidden; 
    text-overflow: ellipsis;
    margin-top: 0px;
}

.time_date_l{
    color: black;
    display: block;
    font-size: 13px;
    margin: 25px 8px 0 0;
}

.time_date_r{
    color: black;
    display: block;
    font-size: 13px;
    margin: 25px 36px 0 8px;
}

.read_l{
    color: black;
    display: block;
    font-size: 13px;
    margin: 0px 0px 0 8px;
}

.read_r{
    color: black;
    display: block;
    font-size: 13px;
    margin: 0px 8px 0 0px;
}

.received_msg {
    background: #e7d258 none repeat scroll 0 0;
    width: 30%;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; 
    color:black;
    padding: 5px 12px 5px 10px;
    word-wrap: break-word; 
    overflow: hidden; 
    text-overflow: ellipsis;
    float: left;
}

.sent_msg{
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; 
    color:#fff;
    padding: 5px 10px 5px 12px;
    word-wrap: break-word; 
    overflow: hidden; 
    text-overflow: ellipsis;
    float: right;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin-bottom: 0;
    padding: 0 0 0 10px;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 90%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
    width: 62%;
    float: left;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}
.messaging { 
    padding: 0 0 50px 0;
}

.msg_history {
    width: 590px;
    height: 470px;
    overflow-y: auto;
}

.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #636364;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    width: 30px;
    float:right;
}

.dropdown-menu {
    border: medium none;
    min-width: 100px;
	padding: 0;
}

.dropdown-menu li a {
    font-size: 16px;
    padding: 3px 10px;
	color: #303030;
}

.button {
    background: #76B3FA;
    border-radius: 100px;
    padding: 20px 60px;
    color: #fff;
    text-decoration: none;
    font-size: 1.45em;
    margin: 0 15px;
}

button.blue-pill {
    background-color: #a5c0ee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
    background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
    background-image: linear-gradient(top, #a5b8da, #7089b3);
    border-top: 1px solid #758fba;
    border-right: 1px solid #6c84ab;
    border-bottom: 1px solid #5c6f91;
    border-left: 1px solid #6c84ab;
    border-radius: 18px;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
    color: #fff;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
    text-transform: uppercase;
    width: 80px; 
    letter-spacing: 1.5px;
}
button.blue-pill:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9;
    cursor: pointer; 
}
button.blue-pill:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee; 
}



@media (max-width: 998px) {
    .container {
        width: 100%;
        height: 100%;
    }
    .mesgs {
        width: 58%;
    }
    .type_msg {
        width: 58%;
    }
    .inbox_people {
        width: 40%;
    }
    .inbox_chat {
        width: 100%;
    }
}

@media (max-width: 757px) {
    .container {
        width: 80%;
        height: 100%;
    }
    .mesgs {
        width: 100%;
    }
    .type_msg {
        width: 100%;
    }
    .inbox_people {
        width: 100%;
    }
    .inbox_chat {
        width: 100%;
    }
}