:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}
  
body {
    background: #FFC863;
    background: linear-gradient(to right, rgb(247, 220, 170), rgb(255, 184, 53));
}
  
.card-signin {
    background-color: #FFF0D4;
    margin-left: 10%;
    top: 0%;
    width: 350px;
    height: 460px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
  
.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
  
.card-signin .card-body {
    width: 330px;
    padding: 1rem;
    padding-left: 2.1rem;
}
  
.form-signin {
    width: 100%;
    height: 15px;
}
  
.form-signin .btn {
    width: 280px;
    font-size: 100%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 0.4rem;
    transition: all 0.2s;
}
  
.form-label-group {
    position: relative;
    margin-bottom: 1.5rem;
    margin-top: 40px;
}
  
.form-label-group input {
    height: auto;
    border-radius: 2rem;
}
  
.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}
  
.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 200px;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}
  
.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}
  
.form-label-group input:-ms-input-placeholder {
    color: transparent;
}
  
.form-label-group input::-ms-input-placeholder {
    color: transparent;
}
  
.form-label-group input::-moz-placeholder {
    color: transparent;
}
  
.form-label-group input::placeholder {
    color: transparent;
}
  
.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}
  
.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

input.hidden {
    position: absolute;
    left: -9999px;
    margin-top: 10px;
}

#profile-image1 {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border:2px solid #03b1ce ;
}

/* RWD
-------------------------------------------------- */

@media (max-width: 1000px){
    .container {
        width: 100%;
    }
}

@media (max-width: 753px){
    .container {
        width: 80%;
    }
    body{
        width: 90%;
    }
}


@media (max-width: 657px){
    .container {
        width: 80%;
    }
    body{
        width: 80%;
    }
}